*.o
.DS_Store
.directory
.gitattributes
.*.swp
/env
/dl
/.config.old
/bin/ar71xx/*
!/bin/ar71xx/openwrt-ar71xx-generic-tl-mr3420-v1*.bin
!/bin/ar71xx/md5sum.txt
!/bin/ar71xx/packages/
/build_dir
/staging_dir
/tmp
/logs
/feeds.conf
/files
/package/feeds
/package/openwrt-packages
*.orig
*.rej
*~
.#*
*#
.emacs.desktop*
TAGS*~
